<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">

</head>
<body>
    <div class="navigation navbar navbar-fixed-top">
        <div class="container-fluid navbar-inner">
            <nav>
                <a class="logo" href="/">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    Provider Generation Tool
                </a>
            </nav>
        </div>
    </div>


    <div id="main-content" class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/Generation"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Dashboard</a></li>
                    <li><a href="/Generation/History"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> History</a></li>
                    <li><a href="/Generation/Settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
                </ul>
            </div>

            @RenderBody()

        </div>
    </div>

    <input type="hidden" id="success" value="@TempData["success"]" />
    <input type="hidden" id="info" value="@TempData["info"]" />
    <input type="hidden" id="info" value="@TempData["warning"]" />
    <input type="hidden" id="error" value="@TempData["error"]" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/providergenerator")

    @RenderSection("scripts", required: false)
</body>
</html>
